.components {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 331px;
}

.collapsible-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.collapsible-header .entityPrint {
  color: var(--text);
}

.collapsible-content {
  padding: 5px 0;
}

.componentTitle span {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--text);
  font-weight: 600;
  vertical-align: bottom !important;
}

.collapsible .static {
  background: var(--bg-light);
  border-bottom: 2px solid var(--bg);
  box-sizing: content-box;
  cursor: pointer;
  height: 16px;
  padding: 8px 10px 12px 10px;
  vertical-align: bottom;
  font-size: 13px;
}

.collapsible .static:hover {
  background: var(--bg-light);
}

/*
.collapsible
  &.collapsed
    background-color $grayalt
    .static,
    .componentHeaderActions
      color #dedede
    &:hover
      background-color $grayhover
*/

.collapsible .menu {
  text-align: right;
}

.collapsible .menuafter {
  color: var(--text-dark);
  content: '\2807';
  font-size: 12px;
  padding: 5px;
  text-align: right;
}

.collapsible .static {
  margin: 0;
}

.collapsible .static .collapse-button {
  border: 6px solid transparent;
  float: left;
  height: 0;
  margin-right: 10px;
  margin-left: 2px;
  width: 0;
}

.collapsible.collapsed .static .collapse-button {
  border-left-color: var(--text);
  margin-top: 4px;
}

.collapsible:not(.collapsed) .static .collapse-button {
  border-top-color: var(--text);
  margin-top: 7px;
}

.propertyRow {
  align-items: center;
  display: flex;
  font-size: 13px;
  min-height: 30px;
  padding: 2px 15px;
}

.propertyRow .text {
  cursor: default;
  display: inline-block;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  vertical-align: middle;
  width: 118px;
}

.propertyRow input.number {
  width: 40px;
}

.propertyRow .vec2 input.number,
.propertyRow .vec3 input.number {
  width: 40px;
}

.propertyRow .vec4 input.number {
  width: 34px;
}

.propertyRow .vec2,
.propertyRow .vec3,
.propertyRow .vec4 {
  display: inline;
}

.propertyRow .map_value {
  margin: 0 0 0 5px;
  width: 68px;
}

.propertyRow .Select-control {
  font-size: 11px;
  height: 24px;
}

.propertyRow .Select-placeholder,
.propertyRow .Select--single > .Select-control .Select-value {
  line-height: 19px;
}

.propertyRow .Select-input {
  height: 22px;
}

.propertyRow input[type=text],
.propertyRow input[type=number],
.propertyRow input.string,
.propertyRow input.number {
  background: var(--bg-dark);
  color: var(--primary);
  min-height: 26px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 1px;
}

.propertyRow input[type=text]:last-child,
.propertyRow input[type=number]:last-child,
.propertyRow input.string:last-child,
.propertyRow input.number:last-child {
  padding-right: 0;
}

.propertyRow input.string {
  padding-left: 8px;
  box-sizing: border-box;
  width: 165px;
}

.propertyRow input[type=text]:focus,
.propertyRow input.string:focus {
  box-shadow: none;
}

.propertyRow .color_value {
  margin: 0 0 0 5px;
  width: 68px;
  letter-spacing: 1px;
}

.propertyRowDefined .text {
  color: var(--text);
  font-weight: 500;
}

.components * {
  vertical-align: middle;
}

span.subcomponent {
  color: var(--text-dark);
  float: none !important;
  margin-left: 10px;
  vertical-align: top !important;
}

#addComponentContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  background: var(--bg-dark);
}

#addComponentContainer #addComponent {
  text-align: left;
  width: 200px;
}

#addComponentContainer #addComponent .select__control {
  background: var(--bg-dark);
  height: 35px;
  color: var(--primary);
}

#addComponentContainer #addComponentHeader {
  font-size: 15px;
  margin: 5px 0 10px 0;
}

#addComponentContainer input[type=text]:focus {
  box-shadow: none;
}

.Select-menu-outer .is-focused span {
  color: var(--text);
}

.component-title {
  align-items: center;
  display: flex;
}

#componentEntityHeader .collapsible-header {
  bottom: 4px;
  position: relative;
}

#componentEntityHeader .collapse-button {
  display: none;
}

#componentEntityHeader .static {
  height: 13px;
}

#componentEntityHeader .entityPrint {
  font-size: 15px;
  padding-left: 5px;
}

#componentEntityHeader .entityName {
  max-width: 160px;
  top: 0;
}

#componentEntityHeader .entityIcons {
  color: var(--text);
}

#mixinSelect {
  width: 160px;
}

.propertyRow .texture {
  display: flex;
}

.propertyRow .texture input {
  margin-left: 0;
  width: 120px;
}

#componentEntityHeader .gltfIcon img {
  top: 0;
}