.components {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  overflow: auto;
  position: fixed;
  width: 300px;

  * {
    vertical-align: middle;
  }
}

.collapsible-header {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .entityPrint {
    color: var(--text);
  }
}

.collapsible-content {
  padding: 5px 0;
}

.componentTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--text);
  font-weight: 700;
}

.collapsible {
  .static {
    background: var(--bg-light);
    border-bottom: 2px solid var(--bg);
    box-sizing: content-box;
    cursor: pointer;
    height: 16px;
    padding: 8px 10px 12px 10px;
    vertical-align: bottom;
    font-size: 13px;
    margin: 0;

    &:hover {
      background: var(--bg-light);
    }

    .collapse-button {
      border: 6px solid transparent;
      float: left;
      height: 0;
      margin-right: 10px;
      margin-left: 2px;
      width: 0;
    }
  }

  .menu {
    text-align: right;
  }

  .menuafter {
    color: var(--text-dark);
    content: '\2807';
    font-size: 12px;
    padding: 5px;
    text-align: right;
  }

  &.collapsed .static .collapse-button {
    border-left-color: var(--text);
    margin-top: 4px;
  }

  &:not(.collapsed) .static .collapse-button {
    border-top-color: var(--text);
    margin-top: 7px;
  }
}

/*
.collapsible
  &.collapsed
    background-color $grayalt
    .static,
    .componentHeaderActions
      color #dedede
    &:hover
      background-color $grayhover
*/

.propertyRow {
  align-items: center;
  display: flex;
  font-size: 13px;
  min-height: 30px;
  padding: 2px 15px;

  .text {
    cursor: default;
    display: inline-block;
    overflow: hidden;
    padding-right: 10px;
    text-overflow: ellipsis;
    vertical-align: middle;
    width: 118px;
  }

  input.number {
    width: 40px;
  }

  .vec2 input.number,
  .vec3 input.number {
    width: 40px;
  }

  .vec4 input.number {
    width: 34px;
  }

  .vec2,
  .vec3,
  .vec4 {
    display: inline;
  }

  .map_value {
    margin: 0 0 0 5px;
    width: 68px;
  }

  .Select-control {
    font-size: 11px;
    height: 24px;
  }

  .Select-placeholder,
  .Select--single > .Select-control .Select-value {
    line-height: 19px;
  }

  .Select-input {
    height: 22px;
  }

  input[type=text],
  input[type=number],
  input.string,
  input.number {
    background: var(--bg-dark);
    color: var(--primary);
    min-height: 26px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;

    &:last-child {
      padding-right: 0;
    }

    &:focus {
      box-shadow: none;
    }
  }

  input.string {
    padding-left: 8px;
    box-sizing: border-box;
    width: 165px;
  }

  .color_value {
    margin: 0 0 0 5px;
    width: 68px;
    letter-spacing: 1px;
  }

  .texture {
    display: flex;

    input {
      margin-left: 0;
      width: 120px;
    }
  }

  &Defined .text {
    color: var(--text);
    font-weight: 500;
  }
}

span.subcomponent {
  color: var(--text-dark);
  float: none !important;
  margin-left: 10px;
  vertical-align: top !important;
}

#addComponentContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px 10px 5px 10px;
  /* background: var(--bg); */

  #addComponent {
    text-align: left;
    width: 200px;

    .select__control {
      background: var(--bg-dark);
      height: 35px;
      color: var(--primary);
    }
  }

  #addComponentHeader {
    font-size: 15px;
    margin: 5px 0 10px 0;
  }

  input[type=text]:focus {
    box-shadow: none;
  }
}

.Select-menu-outer .is-focused span {
  color: var(--text);
}

.component-title {
  align-items: center;
  display: flex;
}

#componentEntityHeader {
  .collapsible-header {
    bottom: 4px;
    position: relative;
  }

  .collapse-button {
    display: none;
  }

  .static {
    height: 13px;
  }

  .entityPrint {
    font-size: 15px;
    padding-left: 5px;
  }

  .entityName {
    max-width: 160px;
    top: 0;
  }

  .entityIcons {
    color: var(--text);
  }

  .gltfIcon img {
    top: 0;
  }
}

#mixinSelect {
  width: 160px;
}