body.aframe-inspector-opened,
.sponsor-btn {
  font-family: var(--font-normal);
}

.wf-roboto-n4-active {

  & body.aframe-inspector-opened,
  &,
  & .sponsor-btn {
    font-family: var(--font-normal);
  }
}

body.aframe-inspector-opened {
  background: var(--bg-dark);
  color: var(--text);
  font-size: 12px;
  margin: 0;
  overflow: hidden;
}

#aframeInspector {

  .Select,
  code,
  pre,
  input,
  textarea,
  select {
    font-family: var(--font-monospace);
    font-size: 13px;
  }

  .wf-robotomono-n4-active {

    & .Select,
    & code,
    & pre,
    & input,
    & textarea,
    & select {
      font-family: Roboto Mono, Consolas, Andale Mono, Monaco, Courier New, monospace;
    }
  }

  hr {
    border: 0;
    border-top: 1px solid #ccc;
  }

  a {
    cursor: pointer;
  }

  button {
    position: relative;
  }

  code {
    font-family: Consolas, Andale Mono, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  textarea {
    tab-size: 4;
    white-space: pre;
    word-wrap: normal;

    &.success {
      border-color: #8b8 !important;
    }

    &.fail {
      background-color: rgba(255, 0, 0, 0.05);
      border-color: #f00 !important;
    }
  }

  textarea,
  input {
    outline: none;
  }

  #scenegraph,
  #rightPanel {
    z-index: 9998;
  }

  #sidebar,
  #scenegraph .panel {
    cursor: default;
    user-select: none;
  }

  .toggle-edit {
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translate(50%);
    z-index: 999999999;
  }

  .try-editor-btn {
    background-color: var(--error);
    box-sizing: content-box;
    color: var(--text);
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    width: 200px;
    display: flex;
    gap: 5px;
    justify-content: center;

    &:hover {
      background-color: rgb(228, 43, 90);
      color: var(--text);
    }
  }

  .sponsor-btn {
    background-color: var(--text);
    box-sizing: content-box;
    color: var(--bg-dark);
    font-size: 13px;
    left: 127px;
    line-height: 16px;
    margin: 0;
    padding: 6px 10px;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 3px;
    width: 80px;
    z-index: 999999999;
    display: flex;
    gap: 5px;
    justify-content: center;

    svg {
      fill: currentColor;
      color: rgb(219, 97, 162);
    }

    &:hover {
      background-color: rgb(228, 43, 90);
      color: var(--text);
    }
  }

  input {
    background-color: transparent;
    border: 1px solid #555;
    color: var(--text);

    &[type=text],
    &[type=number],
    &.string,
    &.number {
      min-height: 14px;
      outline: none;
    }

    &[type="checkbox"] {
      appearance: auto;
      cursor: pointer;
      margin: 0;
      height: 18px;
      width: 18px;

      &:focus {
        box-shadow: none;
      }
    }

    &.number {
      background-color: transparent !important;
      border: 0;
      color: #2cb7ff !important;
      cursor: col-resize;
      font-size: 13px;
      padding: 2px;
    }

    &.stringfocus,
    &.numberfocus {
      border: 1px solid #20b1fb;
      color: var(--text);
      cursor: auto;
    }

    &.error {
      border: 1px solid #a00;
    }
  }

  input,
  .texture canvas {
    transition: 0.1s background-color ease-in-out, 0.1s border-color ease-in-out, 0.1s color ease-in-out;
  }

  #sidebar {
    background: var(--bg);
    width: 300px;

    * {
      vertical-align: middle;
    }
  }

  input,
  textarea,
  select {
    background: var(--bg-dark);
    border: 1px solid transparent;
  }

  input[type=color] {
    background-color: var(--bg-light);
    border: 1px solid var(--bg-dark);
    height: 28px;
    cursor: pointer;
    height: 25px;
    padding: 0;
    width: 50px;

    &::-webkit-color-swatch {
      border: 0;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-moz-color-swatch {
      border: 0;
    }

    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .hide {
    display: none;
  }

  a.button {
    color: var(--text-dark);
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }

  .a-canvas.state-dragging {
    cursor: grabbing;
  }

  body.dragging-asset {
    .a-canvas {
      outline: 2px dashed var(--primary);
      outline-offset: -2px;
    }
  }

  #rightPanel {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
  }

  #inspectorContainer {
    display: flex;
    justify-content: space-between;
    left: 0;
    height: 100%;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
  }

  #scenegraph,
  #viewportBar,
  #rightPanel {
    pointer-events: all;
  }

  .toggle-sidebar {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    z-index: 9998;

    a {
      background-color: var(--bg);
      color: var(--text-dark);
      padding: 5px;
      z-index: 9998;

      &.hover {
        background-color: var(--primary);
        color: var(--text);
      }
    }

    &.left {
      top: 0;
      left: 0;
    }

    &.right {
      top: 0;
      right: 0;
    }
  }
}

@keyframes animateopacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* CSS rules from the original FontAwesomeIcon component */
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}