body.aframe-inspector-opened,
.toggle-edit,
.sponsor-btn {
  font-family: var(--font-normal);
}

.wf-roboto-n4-active body.aframe-inspector-opened,
.wf-roboto-n4-active .toggle-edit,
.wf-roboto-n4-active .sponsor-btn {
  font-family: var(--font-normal);
}

body.aframe-inspector-opened {
  background: var(--bg-dark);
  color: var(--text);
  font-size: 12px;
  margin: 0;
  overflow: hidden;
}

#aframeInspector .Select,
#aframeInspector code,
#aframeInspector pre,
#aframeInspector input,
#aframeInspector textarea,
#aframeInspector select {
  font-family: var(--font-monospace);
  font-size: 13px;
}

#aframeInspector .wf-robotomono-n4-active .Select,
#aframeInspector .wf-robotomono-n4-active code,
#aframeInspector .wf-robotomono-n4-active pre,
#aframeInspector .wf-robotomono-n4-active input,
#aframeInspector .wf-robotomono-n4-active textarea,
#aframeInspector .wf-robotomono-n4-active select {
  font-family: Roboto Mono, Consolas, Andale Mono, Monaco, Courier New, monospace;
}

#aframeInspector hr {
  border: 0;
  border-top: 1px solid #ccc;
}

#aframeInspector a {
  cursor: pointer;
}

#aframeInspector button {
  position: relative;
}

#aframeInspector code {
  font-family: Consolas, Andale Mono, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

#aframeInspector textarea {
  tab-size: 4;
  white-space: pre;
  word-wrap: normal;
}

#aframeInspector textarea.success {
  border-color: #8b8 !important;
}

#aframeInspector textarea.fail {
  background-color: rgba(255, 0, 0, 0.05);
  border-color: #f00 !important;
}

#aframeInspector textarea,
#aframeInspector input {
  outline: none;
}

#aframeInspector .gltfIcon img {
  box-sizing: content-box;
  display: inline;
  height: 20px;
  left: 5px;
  padding: 0 5px;
  position: relative;
  top: 4px;
  vertical-align: baseline;
  width: 20px;
}

#aframeInspector #scenegraph,
#aframeInspector #rightPanel {
  z-index: 9998;
}

#aframeInspector #sidebar,
#aframeInspector #scenegraph .panel {
  cursor: default;
  user-select: none;
}

#aframeInspector .toggle-edit {
  background-color: var(--error);
  box-sizing: content-box;
  color: var(--text);
  font-size: 13px;
  left: 3px;
  line-height: 16px;
  margin: 0;
  padding: 6px 10px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 3px;
  width: 100px;
  z-index: 999999999;
}

#aframeInspector .toggle-edit:hover {
  background-color: rgb(228, 43, 90);
}

#aframeInspector .try-editor-btn {
  background-color: var(--error);
  box-sizing: content-box;
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

#aframeInspector .try-editor-btn:hover {
  background-color: rgb(228, 43, 90);
  color: var(--text);
}

#aframeInspector .sponsor-btn {
  background-color: var(--text);
  box-sizing: content-box;
  color: var(--bg-dark);
  font-size: 13px;
  left: 127px;
  line-height: 16px;
  margin: 0;
  padding: 6px 10px;
  position: fixed;
  text-align: center;
  text-decoration: none;
  top: 3px;
  width: 80px;
  z-index: 999999999;
  display: flex;
  gap: 5px;
  justify-content: center;
}

#aframeInspector .sponsor-btn svg {
  fill: currentColor;
  color: rgb(219, 97, 162);
}

#aframeInspector .sponsor-btn:hover {
  background-color: rgb(228, 43, 90);
  color: var(--text);
}

#aframeInspector input {
  background-color: transparent;
  border: 1px solid #555;
  color: var(--text);
}

#aframeInspector input,
#aframeInspector .texture canvas {
  transition: 0.1s background-color ease-in-out, 0.1s border-color ease-in-out, 0.1s color ease-in-out;
}

#aframeInspector input[type=text],
#aframeInspector input[type=number],
#aframeInspector input.string,
#aframeInspector input.number {
  min-height: 14px;
  outline: none;
}

#aframeInspector input[type="checkbox"] {
  appearance: auto;
  cursor: pointer;
  margin: 0;
  height: 18px;
  width: 18px;
}

#aframeInspector input[type="checkbox"]:focus {
  box-shadow: none;
}

#aframeInspector input.number {
  background-color: transparent !important;
  border: 0;
  color: #2cb7ff !important;
  cursor: col-resize;
  font-size: 13px;
  padding: 2px;
}

#aframeInspector input.stringfocus,
#aframeInspector input.numberfocus {
  border: 1px solid #20b1fb;
  color: var(--text);
  cursor: auto;
}

#aframeInspector input.error {
  border: 1px solid #a00;
}

#aframeInspector #sidebar {
  background: var(--bg);
  width: 331px;
}

#aframeInspector #sidebar * {
  vertical-align: middle;
}

#aframeInspector input,
#aframeInspector textarea,
#aframeInspector select {
  background: var(--bg-dark);
  border: 1px solid transparent;
  color: #888;
}

#aframeInspector select {
  background: var(--bg-light);
}

#aframeInspector input[type=color] {
  background-color: var(--bg-light);
  border: 1px solid var(--bg-dark);
  height: 28px;
  cursor: pointer;
}

#aframeInspector input[type=color] {
  cursor: pointer;
  height: 25px;
  padding: 0;
  width: 50px;
}

#aframeInspector input[type=color]::-webkit-color-swatch {
  border: 0;
}

#aframeInspector input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

#aframeInspector input[type=color]::-moz-color-swatch {
  border: 0;
}

#aframeInspector input[type=color]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

#aframeInspector .hidden {
  visibility: hidden;
}

#aframeInspector a.button {
  color: var(--text-dark);
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
}

#aframeInspector a.button:hover {
  color: var(--primary);
}

@keyframes animateopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#aframeInspector .hide {
  display: none;
}

#aframeInspector .a-canvas.state-dragging {
  cursor: grabbing;
}

#aframeInspector #rightPanel {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;
}

#aframeInspector #inspectorContainer {
  display: flex;
  justify-content: space-between;
  left: 0;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

#aframeInspector #scenegraph,
#aframeInspector #viewportBar,
#aframeInspector #rightPanel {
  pointer-events: all;
}

.aframe-inspector-opened a-scene .a-canvas {
  background-color: #191919;
  z-index: 9998;
}

#aframeInspector .toggle-sidebar {
  align-items: center;
  display: flex;
  height: 100%;
  position: absolute;
  z-index: 9998;
}

#aframeInspector .toggle-sidebar a {
  background-color: var(--bg);
  color: var(--text-dark);
  padding: 5px;
  z-index: 9998;
}

#aframeInspector .toggle-sidebar a.hover {
  background-color: var(--primary);
  color: var(--text);
}

#aframeInspector .toggle-sidebar.left {
  top: 0;
  left: 0;
}

#aframeInspector .toggle-sidebar.right {
  top: 0;
  right: 0;
}

/* CSS rules from the original FontAwesomeIcon component */
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}