#toolbar {
  background-color: var(--bg);

  .toolbar-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    position: relative;
  }

  .add-button {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-dark);
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 10;
    max-height: 12.5rem;
    overflow: auto;

    button {
      display: block;
      width: 100%;
      text-align: left;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border: none;
      color: var(--text);

      &:hover {
        background-color: #f3f4f6;
      }
    }
  }

  .toolbar-button {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}