#viewportBar {
  align-items: center;
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  flex-grow: 2;
  height: 32px;
  font-size: 15px;
  justify-content: space-between;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
}

.toolbarButtons {
  display: flex;
  align-items: center;
  gap: 6px;

  * {
    margin-left: 0 !important;
    vertical-align: middle;
  }

  .button {
    padding: 4px;
    border-radius:50%;


    &:hover {
      background-color: var(--bg-lighter);
    }
  }

  .active {
    border: 2px solid var(--primary);
  }
}

.local-transform {
  padding-left: 10px;
  padding-right: 20px;

  label {
    color: var(--text-dark);
    padding-left: 5px;
  }

  a.button {
    padding-top: 0;
  }
}

#cameraSelect {
  cursor: pointer;
  width: 120px;

  .select__dropdown-indicator {
    padding-left: 3px;
    padding-right: 3px;
  }
}

#cameraToolbar {
  margin-left: 5px;
  align-items: center;
  display: flex;

  a {
    margin-right: 10px;
  }

  .select__control {
    background: none;
  }

  .select__single-value {
    color: var(--text);

    &:hover {
      color: var(--primary);
    }
  }
}

#viewportHud {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}